body {
    overflow-x: hidden;
}

.navbar-custom {
    padding: 12px;
    background-color: #F1F1F1;
    margin-bottom: 0px;
}

.loklak-brand {
    font-family: "Courier New";
    font-size: 35px;
    text-decoration: none;
    line-height: 20px;
    color: rgb(51,51,51);
    line-height: 20px;
}

.loklak-header {
    color: #C8254D;
}

.loklak-brand:hover {
    text-decoration: none;
    color: rgb(51,51,51);
}

.menu-drawer {
    display: none;
    position: fixed;
    padding: 12px;
    color: white;
    background-color: #C8254D   ;
    border-radius: 10%;
    margin-top: 80px;
    margin-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.5s;
}

.menu-drawer:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sidebar {
    position: fixed;
    width: 16%;
    background-color: #F1F1F1;
    height: 100%;
    overflow-y: auto;
    margin-top: 75px;
    transition: all 0.3s;
}

.sidebar-header-close {
    color: white;
    cursor: pointer;
    margin-left: 80px;
    display: none;
}

.sidebar-header {
    background-color: #8BC34A;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-header-image {
    margin-right: 20px;
}

.menu-list {
    margin-left: 0px;
    padding-left: 0px;
}

.menu-list-item {
    list-style: none;
    margin-top: 0px;
    padding-top: 0px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color:rgb(119,119,119);
    background-color: #e6e6e6;
}

.menu-item:hover {
    background-color: grey;
    color:white;
    text-decoration: none;
}

.selected {
    background-color: grey;
    color: white;
}

.category-image {
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 10px;
}

.menu-list {
    margin-bottom: 0px;
}

.category-footer {
    background-color: #F1F1F1;
    margin-top: 10px;
    margin-left: 10px;
}

.similar-apps-header {
    color: rgb(119,119,119);
}

.similar-apps-list {
    display: flex;
    flex-direction: column;
}

.card a{
    color: rgb(119,119,119);
    text-decoration: none;
    transition: all 0.5s;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s;
    margin-top: 16px;
    width: 60%;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    color: #212121;
}

.card a:hover {
    color: #212121;
}

.card-container {
    padding: 2px 16px;
}

.similar-app-image {
    width: 100%;
}

.similar-apps {
    margin-top: 120px;
    margin-bottom: 20px;
    margin-right: -100px;
    margin-left: 50px;
}

.app-data {
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
    margin-top: 120px;
    margin-left: -70px;
    padding-bottom: 50px;
    border-radius: 4px;
}

.app-image-and-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:26px;
    padding-bottom: 50px;
    padding-top: 26px;
    flex-wrap: wrap;
}

.app-info {
    margin-right: 26px;
}

.app-name {
    color: #212121;
}

.app-headline {
    color: #616161;
}

.author-link {
    color: #757575;
    transition: all 0.5s;
    text-decoration: none;
}

.author-link:hover {
    color: #424242;
    text-decoration: none;
}

.short-desc {
    margin-top: 26px;
    color: #616161;
}

.try-now {
    display: block;
    float: right;
    margin-top: 40px;
    background-color: #C8254D;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.5s;
}

.try-now:hover {
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-decoration: none;
}

.app-carousel {
    padding-left: 26px;
    padding-right: 26px;
}

.get-started {
    padding-left: 26px;
    padding-right: 26px;
    margin-top: 40px;
}

.started-header {
    color: #616161;
}

.get-started-body {
    color: #424242;
}

.info-header {
    color: #212121;
}

.add-info {
  margin-bottom: 20px;
}

.dropdown {
    cursor: pointer;
    transition: all 0.5s;
}

.dropdown:hover {
    color: #bdbdbd;
}

.tech-item {
    cursor: text;
    color: #424242;
    padding-left: 8px;
}

@media (max-width: 960px) {
    .sidebar {
        width: 0px;
        z-index: 1;
    }

    .similar-apps {
        margin-right: -100px;
        margin-left: 50px;
    }

    .app-data {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 0px;
    }

    .try-now {
        float: left;
    }

    .menu-drawer {
        display: block;
        z-index: 1;
    }

    .sidebar-header-close {
        display: block;
    }

}

@media (max-width: 500px) {
    .similar-apps {
        margin-right: -100px;
        margin-left: 50px;
    }

    .app-info {
        margin-left: 0px;
    }
}

@media (max-width: 350px) {
    .loklak-brand {
        font-size: 24px;
    }

    .app-image {
        margin-right: 26px;
    }
}
