body {
    overflow-x: hidden;
}

.navbar-custom {
    padding: 12px;
    background-color: #F1F1F1;
}

.loklak-brand {
    font-family: "Courier New";
    font-size: 35px;
    text-decoration: none;
    line-height: 20px;
    color: rgb(51,51,51);
    line-height: 20px;
}

.loklak-brand:hover {
    text-decoration: none;
    color: rgb(51,51,51);
}

.loklak-header {
    color: #C8254D;
}

.tweet-input {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.tweet-search {
    color: #FFFFFF;
    background-color: #D81B60;
}

.tweet-input-field:focus {
    border-color: #D81B60;
}

.wordcloud {
    height: 380px;
    margin-bottom: 10px;
}

.input-control {
    min-height: 180px;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 4px rgba(0,0,0,0.2);
}

.wordcloud .jqcloud-word {
    cursor: pointer;
}

.date-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

.start-date {
    margin-right: 5px;
}

.end-date {
    margin-left: 5px;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filter-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    transition: color 0.3s;
}

.select-all {
    border: 1px solid;
    transition: color 0.3s;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    color: #757575;
}

.select-all:hover {
    color: #212121;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #D81B60;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    opacity: 20%;
    display: flex;
    align-items: center;
    margin-left: 50%;
    margin-top: 10px;
    margin: 10px 0px 0px 50%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.export {
    cursor: pointer;
    float: right;
    color: #C8254D;
}

.export:hover {
    text-decoration: none;
    color: #C8254D;
}

.export:focus {
    text-decoration: none;
    color: #C8254D;;
}

.canvas-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preview-dialog {
    width: 80%;
    margin: auto;
}

.type {
    float: right;
}

.select-type {
    color: #C8254D;
    margin-left: 16px;
    cursor: pointer;
}
