*{
  font-family: 'Ubuntu', sans-serif;
}

h1{
  color: #3498db;
}

a{
  text-decoration: none;
  color: #3498db;
}

.fa{
  font-size: 20px;
  color: #3498db;
}

.thumbnail{
  padding: 20px;
}

h5{
  font-size: 17px;
}