<!DOCTYPE html>
<html ng-app="Twitter">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../../artwork/favicon.png">
    <title>Tweet Search</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://code.angularjs.org/angular-1.0.0rc4.min.js"></script>
    <script src="http://code.angularjs.org/angular-resource-1.0.0rc4.min.js"></script>
  </head>
  <body>
    <div  ng-controller="TwitterCtrl">
      <form class="form-wrapper cf">
        <input type="text"  ng-model="searchTerm" placeholder="Search Tweet"
                   ng-keyup="$event.keyCode == 13 ? doSearch() : null">
        <button type="submit" ng-click="doSearch()" >Search</button>
        <div ng-if="isError" class="error">
          <span class="glyphicon glyphicon-warning-sign"></span> {{ error }}
        </div>
      </form>
      <table class="table table-striped">
        <tr ng-repeat="tweet in twitterResult.statuses">
          <td ng-bind-html-unsafe="tweet.text"></td>
        </tr>
      </table>
    </div>
    <script>
      angular.module('Twitter', ['ngResource']);
      function TwitterCtrl($scope, $resource) {
        $scope.twitter = $resource('http://api.loklak.org/api/:action',
          {action:'search.json', q:'angularjs', callback:'JSON_CALLBACK'},
          {get:{method:'JSONP'}});
        $scope.doSearch = function () {
          $scope.isError = false;
          $scope.error = "";
          if ($scope.searchTerm === undefined || $scope.searchTerm === "") {
            $scope.isError = true;
            $scope.error = "Please enter something to search";
            return;
          }
          $scope.twitterResult = $scope.twitter.get({q:$scope.searchTerm});
        };
      }
    </script>
  </body>
</html>
