body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar-custom {
    padding: 12px;
    background-color: #F1F1F1;
    margin-bottom: 0px;
}

.loklak-brand {
    font-family: "Courier New";
    font-size: 35px;
    text-decoration: none;
    line-height: 20px;
    color: rgb(51,51,51);
    line-height: 20px;
}

.loklak-brand:hover {
    text-decoration: none;
    color: rgb(51,51,51);
}

.loklak-header {
    color: #C8254D;
}

.map {
    height: 450px;
}

.controls-and-input {
    box-shadow: 0 -4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    height:170px;
}

.input-panel {
    height: 150px;
}

.tweet-input {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin: 0px 10px;
}

.tweet-search {
    color: #FFFFFF;
    background-color: #D81B60;
}

.tweet-input-field:focus {
  border-color: #D81B60;
}

.stat-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-statistics {
    color: #424242;
}

.max {
    color: #757575;
    font-size: 16px;
}

.max:hover {
    color: #424242;
    transition: all 0.5s;
}

.stat-button {
    margin-top: 10px;
    color: #fafafa;
    background-color: #C8254D;
}

.stat-button:hover {
    color: #fafafa;
    background-color: #C8254D;
}

.stat-button:focus {
    color: #fafafa;
    background-color: #C8254D;
}

.legend-header {
    color: #424242;
}

.legend-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-and-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.legend-text {
    color: #757575;
    font-size: 14px;
}

.legend-text:hover {
    color: #424242;
    transition: all 0.5s;
}

.legend-img {
    width: 36px;
    height: 36px;
}

.modal-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-button {
    background-color: #C8254D;
    color: white;
}

.modal-button:hover {
    background-color: #C8254D;
    color: white;
}

.stat-table {
    height: 200px;
    overflow: auto;
}

.filters input {
    max-width: 180px;
}

.filters input:focus {
    border-color: #D81B60;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px 10px 0px 10px;
    flex-wrap: wrap;
}

.date {
    position: relative;
    z-index: 1000;
}

.sidenav {
    height: 100%;
    transform: translateX(-260px);
    width: 260px;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    transition: transform 0.5s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sidebar-header {
    background-color: #D81B60;
    padding: 10px;
}

.header-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fafafa;
}

.close {
    color: #000000;
    margin-left: 15px;
}

.open {
    position: fixed;
    z-index: 1000;
    font-size: 20px;
    top: 12%;
    left: 1%;
}

.open:hover {
    cursor: pointer;
}

.sidebar-body {
    color: #fafafa;
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #D81B60;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    opacity: 20%;
    display: flex;
    align-items: center;
    margin-left: 50%;
    margin-top: 10px;
    margin: 10px 0px 0px 50%;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-height: 600px) {
    body {
        overflow-y: auto;
    }

    .open {
        top: 14%;
        left: 4%;
    }
}

@media (max-width: 600px) {
    .loklak-brand {
        font-size: 18px;
    }
}

@media (max-width: 370px) {
    .loklak-brand {
        font-size: 16px;
    }

    .filters {
        justify-content: space-between;
    }

    .filters input {
        max-width: 80px;
    }
}
